<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shopping Subs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
</head>
<body>
    {% include 'includes/_navbar.html'%}
    <div class='container' >
        {% include 'includes/_messages.html'%}
        {% block body %}{% endblock %}
    </div>
    
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <!--<script type = "text/javascript" src = "{{ url_for('static', filename = 'products.js') }}" ></script>-->
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
        /*$(document).ready(function(){
            $('#listProducts').DataTable(); 
        });*/
        $(document).ready(function() {
            var table = $('#listProducts').DataTable( {
                //"ajax": "data/arrays.txt",
                "columnDefs": [ {
                "targets": -1,
                "data": null,
                "defaultContent": "<button class='btn btn-success'>Subscribe</button>"
                } ]
            });

        $('#listProducts tbody').on( 'click', 'button', function () {
            var rowData = table.row( $(this).parents('tr') ).data();

            $.ajax({
                data: {
                    id: rowData[0],
                    name: rowData[1],
                    price: rowData[2]
                },
                type: 'POST',
                url: '/subscribe',
                success: function(response) {
                    $("#productName").text(rowData[1])
                    $("#subscribeModal").modal('show');
                }
            });
        });

    });
    </script>
</html>