{% extends '_layout.html' %}

{% block body %}

<form class="form-horizontal" method="post" action="/products">
    <fieldset>

        <!-- Form Name -->
        <legend></legend>

        <!-- Text input-->
        <div class="form-group">
            <div class="col-md-4">
                <input id="txtProduct" name="inputProduct" type="text" placeholder="Enter product to search for" class="form-control">
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton"></label>
            <div class="col-md-4">
                <input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="Search" />
            </div>
        </div>

    </fieldset>
</form>

{% if productslist %}
<table id='listProducts' class='table'>
    <thead>
        <tr>
            <th style="display:none;">Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Image</th>
            <th>Sub/Unsub</th>
        </tr>
    </thead>
    <tbody>
        {% for product in productslist %}
        <tr>
            <td style="display:none;">{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>£{{ product.price }}</td>
            <td><img src="{{ product.image }}" alt="{{ product.name }}"></td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="subscribeModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Completed</h4>
        </div>
        <div class="modal-body">
            <p>You have subscribed to <strong><span id='productName'></span></strong>.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
        
    </div>
</div>

{% endblock %}